<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %} | Zmey</title>
  </head>
  <body>
    <header class="menuHeader"> 
      <image src="/images/label.svg" style="margin:5px" title="Application for schedule and monitor workflows"></image>
    </header> 
    <div style="margin: 5px; overflow: auto;">   
      {% block content %}{% endblock %}   
    </div>
  </body>
</html>