.treeNav-dir {
  cursor: default;
  text-align: left;
  background-color: rgb(137, 139, 143);
  color: rgb(255, 255, 255);
}

.treeNav-file{
  cursor: default;
  text-align: left;
  color: rgb(255, 255, 255);
}

.treeNav-file:nth-child(odd){
  background: rgb(94, 96, 99);  
}
 
.treeNav-file:nth-child(even){
  background: rgb(105, 107, 109);
}

.treeNav-file:hover {
  background-color: rgb(116, 161, 64);
}