{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h4>Schedulers</h4>
  
<table class="table table-bordered table-striped table-hover" id="tblSchedulers" style="width: auto;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ConnectionPnt</th>
      <th scope="col">State</th>
      <th scope="col">CapacityTask</th>
      <th scope="col">ActiveTask</th>
      <th scope="col">PingTime</th>
      <th scope="col">StartTime</th>
      <th scope="col">StopTime</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>

<script src="/js/admin.js"></script>
  
{% endblock %}