{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h4>Schedulers</h4>
  
<table class="table table-bordered table-striped table-hover"  style="width: auto;">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ConnectionPnt</th>
      <th scope="col">State</th>
      <th scope="col">CapacityTask</th>
      <th scope="col">ActiveTask</th>
      <th scope="col">PingTime</th>
      <th scope="col">StartTime</th>
      <th scope="col">StopTime</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody id="tblSchedulers">
  </tbody>
</table>

<script src="/js/admin.js"></script>
  
{% endblock %}